html{
    height: 100%;
    widows: 100%;
}

body{
    height: 100%;
    width: 100%;
}


.background-img{
    background-image: url(./shubham-dhage-_rZnChsIFuQ-unsplash.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.panel-heading1{
    background-color: transparent;
}

.reg-text{
    color: #333;
}

.reg-btn{
    background-color: #333;
    color: #fff;
}

.text-center1{
    text-align: center;
    font-size: 80px;
}

.text1{
    color: #333;
}
.panel-new{
    padding: 0px;
    margin: 0px;
}