html{
    height: 100%;
    widows: 100%;
}

body{
    height: 100%;
    width: 100%;
}


.background-img{
    background-image: url(./shubham-dhage-R2HtYWs5-QA-unsplash.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.background-img1{
    background-image: url(./shubham-dhage-R2HtYWs5-QA-unsplash.jpg);
    background-size: 20% 20%;
/*    background-size:contain;*/
    color: white;
    height: 100%;
    width: 100%;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}

.panel-heading1{
    background-color: transparent;
}

.reg-text{
    color: white;
}

.reg-btn{
    background-color: #333;
    color: #fff;
}

.text-center1{
    text-align: center;
    font-size: 80px;
}

.text1{
    color: #333;
}
.panel-new{
    padding: 0px;
    margin: 0px;
}

.panel1{
    margin-bottom: 50px;
    border: solid 1px black;
}



.panel-heading2 {
/*  padding: 2px 5px;*/
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: transparent;
    
}
.text2{
    color: white;
}
.container2{
    margin: 0px;
}
